In [38]:
import pandas as pd


df = pd.read_excel("/media/mrk/Data/E-JUST/publication/Exp_speed/Exp_speed_new/test_set.xlsx")
df.head()

  Disturbance Y/M/D (UT)    CME start_time   Vp  Vlat   Vfrt  Vsw  2aw   Tobs
0        2000/01/22 0023  2000/01/18 1754   570   266   85.5  400   80  78.48
1        2000/02/11 0258   2000/02/08 0930  630   294   94.5  510  102  65.47
2        2000/02/11 2352  2000/02/10 0230   810   378  121.5  590  118  45.37
3        2000/02/14 0731  2000/02/12 0431   780   364  117.0  680  136  51.00
4        2001/01/23 1048   2001/01/20 2130  600   280   90.0  550  110  61.30

In [40]:
import random
random.seed(1234)

t1 = []
t2 = []
t3 = []
t3 = []
t4 = []
v1 = []
v2 = []
v3 = []
v4 = []


# estimating the propagation speed and transit time based on Vlat and Vfront
for i in range(len(df['Vp'])):
    vlat = round(df['Vlat'].values[i], 0)* 1.0460
    vfrt = round(df['Vfrt'].values[i], 0)* 4.2189
    k = -97.0919
    vp = vlat + vfrt + k
    v1.append(round(vp, 0))
    t1.append(round(150000000/(vp*3600), 2))

# estimating the propagation speed and transit time based on Vlat Vfront and Vsw
for j in range(len(df['Vp'])):
    vlat = round(df['Vlat'].values[j], 0)* 0.7815
    vfrt = round(df['Vfrt'].values[j], 0)* 3.3242
    vsw = round(df['Vsw'].values[j], 0)* 0.5390
    k = -205.379
    vp = vlat + vfrt + vsw + k
    v2.append(round(vp, 0))
    t2.append(round(150000000/(vp*3600), 2))

# estimating the propagation speed and transit time based on Vlat Vfront and AW
for k in range(len(df['Vp'])):
    vlat = round(df['Vlat'].values[k], 0)* 0.8666
    vfrt = round(df['Vfrt'].values[k], 0)* 3.4519
    aw =   df['2aw'].values[k] * 2.1126
    k = -191.0689
    vp = vlat + vfrt + aw + k
    v3.append(round(vp, 0))
    t3.append(round(150000000/(vp*3600), 2))

# estimating the propagation speed and transit time based on Vlat Vfront AW and Vsw

for m in range(len(df['Vp'])):
    vlat = round(df['Vlat'].values[m], 0)* 0.7796
    vfrt = round(df['Vfrt'].values[m], 0)* 3.2320
    vsw = df['Vsw'].values[m]* 0.5618
    aw =  df['2aw'].values[m]* -0.1087
    k = -205.1152
    vp = vlat + vfrt + aw + vsw + k
    v4.append(round(vp, 0))
    t4.append(round(150000000/(vp*3600), 2))

In [42]:
print(v1[:6])
print(t1[:6])
print()
print(v2[:6])
print(t2[:6])
print()
print(v3[:6])
print(t3[:6])
print()
print(v4[:6])
print(t4[:6])

[544.0, 607.0, 813.0, 777.0, 575.0, 643.0]
[76.6, 68.64, 51.25, 53.61, 72.4, 64.83]

[504.0, 612.0, 814.0, 835.0, 609.0, 645.0]
[82.68, 68.11, 51.21, 49.93, 68.41, 64.63]

[505.0, 604.0, 807.0, 816.0, 595.0, 637.0]
[82.46, 69.02, 51.64, 51.09, 70.07, 65.38]

[496.0, 603.0, 803.0, 824.0, 601.0, 636.0]
[83.97, 69.06, 51.92, 50.56, 69.32, 65.53]

In [43]:
df['V1'] = v1
df['V2'] = v2
df['V3'] = v3
df['V4'] = v4
df['T1'] = t1
df['T2'] = t2
df['T3'] = t3
df['T4'] = t4

df.to_excel("/media/mrk/Data/E-JUST/publication/Exp_speed/Exp_speed_new/test_set.xlsx", index= False)